{"changed":true,"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","value":"Click==7.0\nFlask==1.0.3\nitsdangerous==1.1.0\nJinja2==2.10.1\nMarkupSafe==1.1.1\nWerkzeug==0.15.4\nFlask-PyMongo>=2.0.0","undoManager":{"mark":-2,"position":1,"stack":[[{"start":{"row":5,"column":16},"end":{"row":6,"column":0},"action":"insert","lines":["",""],"id":4}],[{"start":{"row":6,"column":0},"end":{"row":6,"column":20},"action":"insert","lines":["Flask-PyMongo>=2.0.0"],"id":5}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":6,"column":20},"end":{"row":6,"column":20},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1562179154519}