.btn_edit{
    height:28px;
    margin: 5px 15px;
    line-height: 28px;
    padding-left: 3px;
    padding-right: 6px;
   
    
    
}    

.btn_delete{
    height:28px;
    margin: 5px 15px ;
    line-height: 28px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #b70808;
    
}

.collapsible-header i {
 margin:0;}   
 
 .btn_delete:hover {
    background-color: #71231d;
}

.cancel_button{
    margin: 5px 15px;
    padding-left: 3px;
    padding-right: 6px;
    background-color: #b70808
    
}


 .cancel_button:hover {
    background-color: #71231d;
}


.recipe_header{
    margin-top:5px;
    margin-right: 20px;
}

.deleteEdit{
    margin-left:auto;
    margin-right:0;
}

.add_cuisine{
    margin-top: 0;
    margin-left:5%;
}

.addRecipe{
    
}

.findRecipe{
    background-image: url(https://previews.123rf.com/images/magone/magone1507/magone150700095/42628228-chopped-onions-on-wooden-cutting-board-top-view.jpg);
    
}