 {% extends 'base.html' %} {% block content %}
<div class="row">

    <h3>Cuisines</h3>
    <ul class="collapsible">
      {% for cuisine in cuisine %}
      <li>
        <div class="collapsible-header">
          <div class="recipe_header col s9">
            <strong>{{cuisine.cuisine_type}}</strong>
          </div>
          <div class="deleteEdit col s3">
            <a href="{{url_for('edit_cuisine', cuisine_id = cuisine._id)}}" class="waves-effect waves-light btn btn_edit"><i class="material-icons left">edit</i>Edit</a>
            <a href="" class="waves-effect waves-light btn btn_delete"><i class="material-icons deleteIcon">delete_forever</i></a>
          </div>
        </div>
</li>
{% endfor %}
</ul>
</div>
{% endblock %}
 