{% extends 'base.html' %} {% block content %}

<h3>Edit Cuisine</h3>
<div class="row">
    <form action="{{ url_for('update_cuisine', cuisine_id=cuisine._id) }}" method="POST" class="col s12">
        
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">flag</i>
                <input id="cuisine_type" name="cuisine_type"  type="text" class="validate" value="{{cuisine.cuisine_type}}"required>
                <label for="icon_telephone">Cuisine Type</label>
            </div>
            
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Update Cusine
                            <i class="material-icons right">send</i>
                        </button>
            <a href="{{ url_for('get_cuisines') }}" class="waves-effect waves-light btn cancel_button">
                            <i class="material-icons right">cancel</i>Cancel
                        </a>
        </div>

        
        
    </form>
</div>



{% endblock %}