 {% extends 'base.html' %}
 {% block content %}
    <div class = "row">
    <ul class="collapsible" >
    {% for recipe in recipes %}
    <li>
      <div class="collapsible-header">
        <div class="recipe_header col s9">
            <i class="material-icons">expand_more</i>
           <strong>{{recipe.recipe_name}}</strong> &nbsp;- {{recipe.cuisine_type}} - {{recipe.author}} - &nbsp;<strong>Cook time {{recipe.cook_time}} minutes</strong>
        </div>
        <div class= "deleteEdit col s3">
              <a href= "{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_edit"><i class="material-icons left">edit</i>Edit</a>
              <a class="waves-effect waves-light btn btn_delete"><i class="material-icons deleteIcon">delete_forever</i></a>
        </div>
        
     </div>
      
      
      <div class="collapsible-body"><span>
      
      <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header"><i class="material-icons">local_grocery_store</i>Ingredients</div>
      <div class="collapsible-body"><span>{{recipe.ingredients}}</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">format_list_numbered</i>Method</div>
      <div class="collapsible-body"><span>{{recipe.method}}</span></div>
    </li>
    
  </ul>
      
      
      
      
      
      
      </span></div>
    </li>
    {% endfor %}
 </ul>
</div>  
    
   





{% endblock %}